<div class="wrapper">
  <div class="form">
    <form action="" method="POST">
      <div>
        <input type="text" name="email" placeholder="E-mail" />
      </div>
      <div>
        <input type="text" name="password" placeholder="Password" />
      </div>
      <div>
        <button>Login</button>
      </div>
    </form>
  </div>
  <div>
    <a href="/">Back</a>
  </div>
</div>